@tailwind base;
@tailwind components;
@tailwind utilities;
 

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
  white-space: nowrap; /* Prevent line breaks */
}


@layer base {
  section {
    @apply py-[75px];
  }
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }

  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }

  .text_para {
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
  }

  .header {
    @apply relative w-full h-[120px] z-50;
  }

  .sticky_header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .hero_section {
    @apply relative w-full h-full;
  }

  .footer {
    @apply bg-[url('./assets/images/mhe/footer-bg.png')] bg-no-repeat bg-center bg-cover;
  }

  .form_label {
    @apply text-textColor font-semibold text-[16px] leading-7 mb-2;
  }

  .form_input {
    @apply w-full px-4 py-3 border-solid border-[#0066ff61] text-[16px] leading-7 text-headingColor placeholder:text-textColor cursor-pointer;
  }

  .form_input:focus {
    @apply outline-none border-primaryColor;
  }

  .bordered-input {
    border: 1px solid black;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply py-[35px];
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }

  .text_para {
    @apply text-[16px] leading-7 mt-3;
  }

  /* Mobile-specific background images */
  .header {
    @apply relative w-full z-50;
  }

  .hero_section {
    @apply relative w-full ;
  }

  .footer {
    background-image: url('./assets/images/mhe/footer-bg-mobile.png');
  }
}
